# Coursera week 3 capstone project

In [1]:
import pandas as pd

## Scrape from website

In [2]:
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

In [3]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

## Clean and prepare the data

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [4]:
df.drop(df.loc[df.Borough=='Not assigned'].index,inplace=True)

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [5]:
df.groupby('Postal Code').agg({'Borough':sum,'Neighborhood':','.join},inplace=True)

                 Borough                                       Neighborhood
Postal Code
M1B          Scarborough                                     Malvern, Rouge
M1C          Scarborough             Rouge Hill, Port Union, Highland Creek
M1E          Scarborough                  Guildwood, Morningside, West Hill
M1G          Scarborough                                             Woburn
M1H          Scarborough                                          Cedarbrae
...                  ...                                                ...
M9N                 York                                             Weston
M9P            Etobicoke                                          Westmount
M9R            Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
M9V            Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
M9W            Etobicoke                Northwest, West Humber - Clairville

[103 rows x 2 columns]

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [6]:
df.loc[(df.Neighborhood=='Not assigned') & (df.Borough != 'Not assigned'),'Neighborhood'] = df.Borough

Retrieve the shape of the dataframe

In [7]:
df.shape

(103, 3)

## Part 2: add geo data

In [8]:
import geocoder # import geocoder
def get_location(code):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
      g = geocoder.google('{}, Toronto, Ontario'.format(code))
      lat_lng_coords = g.latlng
    return lat_lng_coords

Code above remains in endless loop, using CSV file instead

In [9]:
geo_data = pd.read_csv('https://cocl.us/Geospatial_data')

In [10]:
geo_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [12]:
df.merge(geo_data,on='Postal Code',inplace=True)

TypeError: merge() got an unexpected keyword argument 'inplace'